* {
      margin: 0;
      padding: 0;
}

body {
      width: 100%;
}

a {
      text-decoration: none;
}

hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 100%;
      border: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
}

header,
main {
      margin: 2em 5em;
}

.my-nav-item {
      font-weight: 600;
      transition: all 300ms;
}

.my-nav-item:hover {
      color: #554410;
}

.my-nav-item,
.login-button {
      font-size: larger;
}

.login-button {
      font-weight: 500;
}

#finans-details {
      color: white;
      font-weight: 500;
}

#finans-details h2 {
      font-size: 2.7em;
}

#finans-details p {
      font-size: 1.5em;
}

button {
      font-weight: lighter;
}

#finans-download-link button {
      width: 3em;
}